.nav{
  background-color: black;
  color: aliceblue;
  margin-top: -25px;
  padding:20px;
}

.nav-1{
font-size:30px;
position:relative;
top:20px;
}

.search{
  background-color: transparent;
  border: solid white 3px;
  height:30px;
  width:500px;
  position:relative;
  top:-40px;
  left:300px;

}